.transform-hover {
  transition: all 0.2s ease;
  &:hover {
    transform: translateY(-4px) translateX(4px);
  }
}

.transform-hover.shadow-hover:hover {
  -webkit-box-shadow: -5px 5px 0px 0px #ff006e;
  box-shadow: -5px 5px 0px 0px #ff006e;
}
